body,
header,
p,
html,
h1,
h2,
ol,
li,
td,
th,
form {
  margin: 0;
  padding: 0;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background: #f5f5f5;
}
header#site-header {
  background: #1976d2;
  padding: 30px 20px;
  color: #fff;
}
main {
  min-height: 200px;
}
input {
  width: 100%;
  display: block;
}
footer#site-footer {
  padding: 20px;
  text-align: center;
  border-top: 1px solid #ccc;
}
table {
  width: 98%;
  margin: 0px auto;
}
table td,
table th {
  text-align: left;
  padding: 10px 5px;
}
table {
  border-collapse: collapse;
}
td {
  border-top: 1px solid #ccc;
}
ol {
  margin-left: 18px;
}
h2 {
  padding: 10px 0;
}
.box {
  padding: 20px;
}
.container {
  display: flex;
  width: 500px;
}
.col {
  width: 100%;
}
#book-form .container {
  padding: 10px 0;
}
button {
  background: #1976d2;
  border: 0;
  padding: 10px 20px;
  color: #fff;
  display: block;
  margin-right: 10px;
}

.container .col:first-child {
  width: 200px;
}
